.my-footer {
    height: 5em;
    background-color: #343a40;
    margin-top: 1.5em;
    padding: 1em;
    color: #FFFFFF;
    font-size: 80%;
}

.room-image {
    max-width: 60%;
}

.notie-container {
    box-shadow: none;
}

.datapicker {
    z-index: 10000;
}