{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <img src="/static/images/double-bed-room.jpg" class="img-fluid
                img-thumbnail mx-auto d-block room-image mt-4" alt="room image">
        </div>
    </div>

    <h1 class="text-center mt-3"><b>Номер с двухместной кроватью в гостинице Уютный причал</b></h1>
    <p class="text-center mt-3">
        Добро пожаловать в нашу уютную гостиницу! Мы предлагаем комфортное проживание, изысканные блюда и
        безупречный сервис. У нас вы сможете отдохнуть после долгого дня, насладиться тишиной и спокойствием, а
        также зарядиться энергией для новых приключений.В нашей гостинице есть всё необходимое для идеального
        отдыха: уютные номера, оборудованные современной техникой, ресторан с разнообразным меню, бесплатный Wi-Fi.
        Мы заботимся о вашем комфорте и стараемся сделать ваше пребывание у нас максимально приятным и незабываемым.
    </p>

    <p class="text-center">
        Наши сотрудники — настоящие профессионалы своего дела, всегда готовые помочь вам с любыми вопросами и
        проблемами. Мы рады предложить вам экскурсии по городу, трансфер из аэропорта и организацию мероприятий.
    </p>

    <p class="text-center">
        Не упустите возможность провести незабываемый отдых в нашей гостинице! Бронируйте номер прямо сейчас и
        наслаждайтесь комфортом и уютом.
    </p>

    <div class="row">

        <div class="col text-center">

            <a id="check-availability-button" href="/search-availability" class="btn btn-success">Забронировать
                сейчас</a>

        </div>
    </div>
</div>
{{end}}

{{define "js"}}

{{end}}