{{template "base" .}}

    {{define "content"}}
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Home page</h1>
                    <p>Welcom to the home page!!!</p>
                    <img src="/static/images/hotel-room-bed.jpg" height="1000" width="1500"/>
                </div>
            </div>
        </div>

{{end}}